{% if app.user.username is defined %}

    <!--Footer-->
    <footer class="page-footer primary-color center-on-small-only p-5" style="margin-top: -5px" id="StickyStop">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h2 class="title font-quicksand">Pokeshop website</h2>
                    <p class="font-didact">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis, nibh sit amet euismod convallis, enim tortor sodales nulla, sed sagittis nisl libero vel arcu. Nullam velit felis, elementum et lacus vel, varius bibendum est. Morbi placerat consectetur dui, id iaculis felis convallis quis. In laoreet lobortis dolor, a blandit purus condimentum vel. Aliquam egestas, ex eget tempus volutpat, quam mi fermentum metus, non luctus nibh erat nec erat. Suspendisse facilisis lobortis massa nunc.</p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-6">
                    <h4 class="title font-quicksand">Links</h4>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2018 Copyright: <a href="https://www.MDBootstrap.com"> Pokeshop.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

{% endif %}