.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
    font-size: 30px;
}

.top-nav-collapse {
    background-color: #4285F4;
}


.input-group.md-form.form-sm.form-2 input {
    border: 2px solid white;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}