.font-didact {
    font-family: 'Didact Gothic', sans-serif;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}


@media screen and (min-width: 990px) and (max-width: 1200px) {
    .screen-dsiplay {
        display: none;
    }
}

