.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.view-list {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat fixed center center;
    background-size: cover;
}


.navbar {
    background-color: transparent;
    font-size: 30px;
    z-index: 5;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 990px) {
    .navbar {
        background-color: #4285F4;
    }
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.grey-border  {
    border: 1px solid #e9ecef;
}
.input-group input[type=text]:focus:not([readonly]) {
    box-shadow: none;
}
.form-2 .input-group-addon {
    border: 1px solid #e9ecef;
}
