{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-100 view-security">

        <div class="container">
            <div class="row">
                <div class="col-md-6 margin-auto p-5">
                    <!--Panel-->
                    <div class="card">
                        <div class="card-header primary-color lighten-1 white-text text-center h4-responsive">
                            Sign in <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <!-- Form login -->
                            <form action="{{ path('login') }}" method="post">

                                {% if error %}
                                    <p class="h5 text-center mb-4">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                {% endif %}

                                <div class="md-form">
                                    <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />
                                    <label for="username">Username or Email :</label>
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-lock prefix grey-text"></i>
                                    <input type="password" id="password" name="_password" class="form-control" />
                                    <label for="password">Password</label>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </div>
                            </form>
                            <hr>
                            <h5 class="h5-responsive pull-right">Not a member yet ? <a href="#">Sign up</a></h5>
                        </div>
                    </div>
                    <!--/.Panel-->
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
